<p class="powered">օգտագործում է <a href="https://gohugo.io">հւգօ</a>. դիզայնը՝ <a href="https://themes.gohugo.io/hugo-theme-techdoc/">TechDoc</a>. դիզայներ՝ <a href="https://github.com/thingsym/hugo-theme-techdoc">Thingsym</a>.</p>
